<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FE1E50">
  <a class="navbar-brand" href="#" id="navbartextcolor"><img
      src="./assets/9423cc10-a935-45dc-a5d7-8497444f4f29_200x200.png" alt="Responsive text" class="img-fluid" width="80"
      height="80"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <table>
      <th id="titletext"><b>CELEBREMOS</b></th>
      <tr><ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="mat-subheading nav-link" routerLink = "/" id="navbartextcolor"><b><br>Home</b><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink ="/create" id="navbartextcolor"><b><br>Events Dashboard</b></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink ="/list" id="navbartextcolor"><b><br>Settings</b></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbartextcolor" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <b><br>Cards</b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Baby Shower</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Wedding</a>
            </div>
          </li>

        </ul></tr>
    </table>

    <br>

  </div>
</nav>
