<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #FE1E50"
>
  <a
    class="navbar-brand"
    *ngIf="!userIsAuthenticated"
    routerLink="/"
    id="titletext1"
    ><img
      src="./assets/9423cc10-a935-45dc-a5d7-8497444f4f29_200x200.png"
      alt="Responsive text"
      class="d-inline-block align-top"
      width="45"
      height="45"
    />CELEBREMOS</a
  >
  <a
    class="navbar-brand"
    *ngIf="userIsAuthenticated"
    routerLink="/hostedevents"
    id="titletext1"
    ><img
      src="./assets/9423cc10-a935-45dc-a5d7-8497444f4f29_200x200.png"
      alt="Responsive text"
      class="d-inline-block align-top"
      width="45"
      height="45"
    />CELEBREMOS</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse-navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a
          class="nav-link"
          routerLink="/create"
          id="navbartextcolor"
          id="titletext"
          routerLinkActive="mat-primary"
          ><b>Create Events</b></a
        >
      </li>
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a
          class="nav-link"
          routerLink="/hostedevents"
          id="navbartextcolor"
          id="titletext"
          ><b>Dashboard</b></a
        >
      </li>
      <li class="nav-item dropdown" *ngIf="userIsAuthenticated">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbartextcolor"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          id="titletext"
        >
          <b>Cards</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['/birthdaycards']"
            routerLinkActive="router-link-active"
            id="dropdowntext"
            >Birthday</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            [routerLink]="['/partycards']"
            id="dropdowntext"
            >Party</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            [routerLink]="['/weddingcards']"
            id="dropdowntext"
            >Wedding</a
          >
        </div>
      </li>
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a
          class="nav-link"
          routerLink="/contacts"
          id="navbartextcolor"
          id="titletext"
          ><b>Contacts</b></a
        >
      </li>
      <span class="spacer"></span>
      <ul>
        <li class="nav-item" *ngIf="userIsAuthenticated">
          <a
            class="nav-link"
            routerLink="/create"
            id="navbartextcolor"
            (click)="onLogout()"
            id="titletext"
            ><b>Logout</b></a
          >
        </li>
      </ul>
    </ul>
  </div>
</nav>
