<mat-card>
  <div class = "row">
    
  </div>
    <h1 class="info-text mat-title">Already a member? Please <a routerLink="/">log in</a> instead.</h1>
    <form #postform="ngForm">
        <mat-form-field>
            <input matInput type="text" name="title" ngModel placeholder="Username" #username = "ngModel" required>
            <mat-error *ngIf="username.invalid">Please enter a valid username</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput type="password" name="title" ngModel placeholder="Password" #password = "ngModel" required>
              <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error><br>
          </mat-form-field><br><br>
          <button mat-raised-button color="primary" class = "centerbutton" type = "Submit">Sign In</button><br>
    </form>
     <!-- <form #postform="ngForm">
      <mat-form-field>
          <input matInput type="text" name="title" ngModel placeholder="Username" #username = "ngModel" required>
          <mat-error *ngIf="username.invalid">Please enter a valid username</mat-error><br>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput type="password" name="title" ngModel placeholder="Password" #password = "ngModel" required>
            <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error><br>
        </mat-form-field><br><br>
        <button mat-raised-button color="primary" class = "centerbutton" type = "Submit">Sign In</button><br>

  </form> -->
  </mat-card>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

