<br>
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <mat-card fxFlexAlign="stretch">
        <h1 class="info-text mat-title">Already a member? Please <a routerLink="/">log in</a> instead.</h1>
        <form (submit)="onSignUp(signupform)" #signupform="ngForm">
          <mat-form-field>
            <input matInput type="text" name="firstname" ngModel placeholder="Firstname" #firstname="ngModel" required>
            <mat-error *ngIf="firstname.invalid">Please enter a valid firstname</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput type="text" name="lastname" ngModel placeholder="Lastname" #lastname="ngModel" required>
            <mat-error *ngIf="lastname.invalid">Please enter a valid lastname</mat-error><br>
          </mat-form-field>
          <!-- Email pattern verification alphanumeric followed by @ and alhpanumric dot alphabets -->
          <mat-form-field class="example-full-width">
          <input matInput type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" ngModel placeholder="Email" #email="ngModel" required>
          <mat-hint>We'll never share your email address with others. </mat-hint>
          <mat-error *ngIf="email.invalid">Please enter a valid email address</mat-error><br>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" name="username" ngModel placeholder="Username" #username="ngModel" required>
            <mat-error *ngIf="username.invalid">Please enter a valid username</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}" name="password" ngModel placeholder="Password" #password="ngModel" required>
            <mat-hint>Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 12 characters"</mat-hint>
            <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error><br>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput type="text" name="password1" ngModel placeholder="Confirm Password" #password="ngModel" required>
              <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error><br>
            </mat-form-field>

          <!-- This is phone number verification block and the phone number should be in format +1(123)123-1233 -->
          <mat-form-field class="example-full-width">
            <input matInput type="tel" pattern='[\+]\d{1}[\(]\d{3}[\)]\d{3}[\-]\d{4}' name="phone" ngModel placeholder="Phone Number" #phone="ngModel" required>
            <mat-hint>Phone number format : +1(123)123-1234. </mat-hint>
            <mat-error *ngIf="phone.invalid">Please enter a valid phone number</mat-error><br>
          </mat-form-field>
          <br><br>
          <button mat-raised-button color="primary" class="centerbutton" type="Submit" *ngIf="!isLoading">Register</button><br>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </form>
      </mat-card>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4">
        <mat-card fxFlexAlign="stretch" width="100px;">
        <style>
            img {
              display: block;
              margin-left: auto;
              margin-right: auto;
              padding: 8px;
              width: 250px;
            }
            </style>
        <img src="./assets/logo.png" alt="Responsive text">

        <p align="justify">We celebremos are an online invitation application where users can create an invitation and invite guests for their party and manage events for that party.</p>
          </mat-card>
      </div>


  </div>
</div>
<br>
