<!--The content below is only a placeholder and can be replaced.-->
<app-header>
    
  </app-header>
<div style="text-align:center">
  
  <h1>
    Celebremos
  </h1>
  
</div>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<footer class="footer" id= "footercolor" >
  <div class="container">
      <div class = "row">
          <div class = "col-md-4">Legal Notice</div>
          <div class = "col-md-4">Privacy Policy</div>
          <div class = "col-md-4">2019 @Celebremos. All Rights Reserved</div>
      </div>
  </div>
</footer>

<router-outlet></router-outlet>
