#navbartextcolor {
  color: white;
  text-align: justify;
}
#footercolor {
  background: #0C0E5B;
  color: white;
  padding: 20px;
  text-align: center;
}
.footer{
  height: 40px;
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}
