textarea,
mat-form-field {
  width: 90%;
}

.centerbutton {
  margin-left: 40%;
  text-align: center;
}

.rpassword {
  max-width: 550px;
  margin: 0 auto;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.info-text {
  text-align: center;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,.2), 3px 3px 3px 1px rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
