<!-- <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" backgroundColor = "secondary">
  <mat-tab  (click)= "onClickingTab1()">
      <ng-template matTabLabel>
          <span [matBadge]="posts.length"  matBadgeOverlap="false" matBadgeColor="warn">All Events</span>
      </ng-template></mat-tab>
  <mat-tab (click)= "onClickingTab2()" >
      <ng-template matTabLabel>
          <span [matBadge]="posts.length"  matBadgeOverlap="false" matBadgeColor="warn">Hosted Events</span>
      </ng-template></mat-tab>
  <mat-tab label="Invited Events"> Content 3 </mat-tab>
  <mat-tab label="Saved Events"> Content 3 </mat-tab>
  <mat-tab label="Past Events"> Content 3 </mat-tab>
</mat-tab-group> -->
<nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}} &nbsp;<span [matBadge]="posts.length"  matBadgeOverlap="false" matBadgeColor="warn"></span>
    </a>
  </nav>
  <router-outlet></router-outlet>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <p *ngIf="posts.length <= 0 && !isLoading" class="info-text mat-body-1">
      No events added yet!
    </p>
  <mat-card class="top-card" multi="true" *ngIf="posts.length > 0 && !isLoading">
    <mat-card class="example-card" *ngFor="let post of posts; let i = index;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>  {{ (post.title.length>20)? (post.title | slice:0:20)+'..':(post.title) }}
        </mat-card-title>
        <mat-card-subtitle
          >{{ post.date.slice(0, post.date.indexOf(", ")) }},
          {{ post.time }}</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        class="matcardimage"
        [src]="post.imagePath"
        [alt]="post.title"
      />
      <mat-card-content>
        <mat-list>
          <mat-list-item>Event type: {{ post.type }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Hosted by: {{ (post.host.length>50)? (post.host | slice:0:50)+'..':(post.host) }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Where: {{ (post.location.length>50)? (post.location | slice:0:50)+'..':(post.location) }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            >Number of Guests invited: {{ post.guests.length }}</mat-list-item
          >
          <a mat-button color="primary" [routerLink]="['/addGuests', post.id]"
            >Add more guests</a
          >
          <mat-divider></mat-divider>
          <mat-list-item
            >Total Guests Attending: {{totalguests[i]}}</mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item class="green"
            >Accepted: {{accepted[i]}}</mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item class="red"
            >Rejected: {{denied[i]}}</mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item class="yellow"
            >Maybe: {{ambiguous[i]}} </mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            >Not replied: {{noreply[i]}} </mat-list-item
          >
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
        <button mat-button color="warn" (click)="openDialog(post.id)">
          CANCEL
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card>
