<mat-card class="addguests">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="mat-elevation-z8" *ngIf="contacts?.length > 0 && !isLoading">
      <mat-form-field class = "searchBar">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search"
          />

        </mat-form-field>

    <table mat-table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let record">{{ (record.firstname.length>6)? (record.firstname | slice:0:6)+'..':(record.firstname) }}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let record">{{ (record.lastname.length>6)? (record.lastname | slice:0:6)+'..':(record.lastname) }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="mobilenumber">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let record">{{ record.mobilenumber }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="emailid">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let record">{{ (record.emailid.length>20)? (record.emailid | slice:0:20)+'..':(record.emailid) }}</td>
      </ng-container>

      <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let record"><mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/contacts/edit', record.id]">edit</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="openDialog(record.id, record.firstname)">delete_outline</mat-icon></td>
        </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <p *ngIf="contacts?.length <= 0 && !isLoading" class="info-text mat-body-1">
      No contacts added yet!
    </p>
</mat-card>
<mat-card class="addguests1">
    <form [formGroup]= "form" (submit)="onSaveContact()" >
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="firstname"
            placeholder="Firstname"
          />

        </mat-form-field>
        <br>
        <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="lastname"
              placeholder="Lastname"
            />

          </mat-form-field><br>
          <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="emailid"
                placeholder="Email Id"
              />

            </mat-form-field><br>
            <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="mobilenumber"
                  placeholder="Mobile"
                />

              </mat-form-field><br>
        <button mat-raised-button color="accent" type="button" (click)= "onSaveContact()" routerLink="/contacts" matTooltip="By clicking here contact will be added.">Add Contact</button>

      </form>
</mat-card>
