<mat-card class="rpassword">
  <div *ngIf="!post">
    <label id="example-radio-group-label"
      >We are really sorry that the event that you are looking for is not found.
      The host might have cancelled the event.
    </label>
  </div>
  <div *ngIf="!emailId">
    <label id="example-radio-group-label"
      >Sorry!!! Your are not invited to the event {{ post.title }}.
    </label>
  </div>
  <div *ngIf="post && emailId">
      <img
      mat-card-image
      class="matcardimage"
      [src]="post.imagePath"
      [alt]="post.title"
    /><br>

    <label id="example-radio-group-label"
      >Will you attend <b>{{ post.title }}</b>?</label
    ><br>
    <label id="example-radio-group-label"
      ><b>When:</b> {{ post.date }}</label
    >
    <label id="example-radio-group-label"
      ><b>Where:</b> {{ post.location }}</label
      >

    <mat-radio-group *ngIf="emailDetails?.status === 'no reply' || mode === 'edit'"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="yourResponse"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let response of rsvp"
        [value]="response"
      >
        {{ response }}
      </mat-radio-button>
    </mat-radio-group>
    <form name="user_reg" #rsvpform="ngForm">
    <mat-form-field *ngIf="yourResponse == 'Yes' || yourResponse == 'Maybe'">
      <input
        matInput
        type="text"
        [ngModel] = emailDetails?.numberofguests
        name="guestsNumber"
        #guestsNumber='ngModel'
        placeholder="Enter number of guests"
        required
      />
    </mat-form-field>

    <div *ngIf="emailDetails?.status === 'no reply'">Your response is: {{ yourResponse }}</div>
    <div *ngIf="emailDetails?.status !== 'no reply'">Your response is: {{ emailDetails?.status }}</div>
    <br />
    <button *ngIf="emailDetails?.status === 'no reply' && !isLoading || mode === 'edit'"
      mat-raised-button
      color="primary"
      type="button"
      (click)="sendResponse(rsvpform)"
      class="centerbutton"
      [routerLink]="['/pastevents']"
    >
      Submit</button
    >
    <button *ngIf="emailDetails?.status !== 'no reply' && !isLoading && mode !== 'edit'"
      mat-raised-button
      color="primary"
      type="button"
      class="centerbutton"
      [routerLink]="['/edit/rsvp', postId, emailId]"
    >
      Edit RSVP</button
    ><br />
    </form>
  </div>
</mat-card>
