textarea,
mat-form-field {
  width: 90%;
}

.createpost {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.info-text {
  text-align: center;
}


input[type="file"]{
  visibility: hidden;
}

.image-preview {
  height: 15rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,.2), 3px 3px 3px 1px rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
