<mat-card class = "createpost">
  <form (submit)="onSavePost(postform)" #postform="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="post?.title" placeholder="Event Title" #title="ngModel"
        required>
      <mat-error *ngIf="title.invalid">Please enter a valid title.</mat-error><br>
    </mat-form-field>
    <mat-form-field>
    <mat-select placeholder = "Event type" name = "type" required>
      <mat-option *ngFor="let event of events" [value]="event.value">
        {{event.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <input matInput type="text" name="host" placeholder="Hosted By"
        required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput rows="6" name="content" [ngModel]="post?.content" placeholder="Event Content"
        #content="ngModel" required></textarea>
      <mat-error *ngIf="content.invalid">Please enter content.</mat-error>
    </mat-form-field><br>
    <button mat-raised-button color="accent" type="Submit">Save Event</button>
  </form>
</mat-card>
